<h1>Trains#new</h1>
<p>Find me in app/views/trains/new.html.erb</p>

<%= form_for @train do |f} %>
<%= f.label :destination %>
<%= f.text_field :destination %>
<%= f.label :time %>
<%= f.text_field :time %>
<%= f.submit %>
<% end %>
