<li> Destination: <%= @train.destination %></li>
<li> Time: <%= @train.time %></li>
<li>Driver: <%= @train.driver.name %></li>

<%= form_for @train, method: :delete do |f| %>
<%= f.submit "Delete Train" %>
<% end %>

